* {
  margin: 0%;
  padding: 0%;
  font-family: "Maven Pro", sans-serif;
  font-weight: 800;
}

/* Header */
header {
  background-image: linear-gradient(to right, #201f1f, #195dba);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  top: 0;
  border-bottom: 2px solid whitesmoke;
}

.header__nav__a a {
  text-decoration: none;
  color: #E7DFDD;
  margin: 10px;
  padding: 10px;
}
.header__nav__aft a {
  text-decoration: none;
  color: #E7DFDD;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.header__nav__a a:hover {
  background-color: #195dba;
  padding: 10px;
  border-radius: 7px;
  transform: scale(1.5);
  transition: ease-in 0.1s;
}
.header__nav__aft a:hover {
  background-color: #201f1f;
  padding: 10px;
  border-radius: 7px;
  transition: ease-in 0.1s;
}

.iconosDeRedes {
  margin: 10px;
  animation:backInDown 1s;
}
.iconosDeRedes a {
  color: #E7DFDD;
  text-decoration: none;
  margin: 10px;
  padding: 7px;
}
.iconosDeRedes a:hover {
  background-color: #114082;
  padding: 7px;
  border-radius: 7px;
  transform: scale(1.4);
  transition: ease-out 0.4s;
}
.logo{
  animation:backInDown 1s;
}
/* Fin del header */
/* Footer */
footer {
  background-image: linear-gradient(to right, #201f1f, #195dba);
  color: #E7DFDD;
  padding: 5px;
}
footer a {
  color: #201f1f;
  list-style: none;
  text-decoration: none;
}
.conteinerfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mapa h3 {
  margin-top: 30px;
  font-weight: bold;
  color: #E7DFDD;
}
.mapa iframe {
  height: 200px;
  width: 600px;
  margin: 15px;
  margin-left: 100px;
}
.iconosDeRedesFT {
  display: flex;
  flex-direction: column;
}
.iconosDeRedesFT a {
  color: #E7DFDD;
  padding: 10px;
}
.iconosDeRedesFT a:hover {
  background-color: #195dba;
  border-radius: 4px;
}
footer div p {
  margin: 0;
  text-align: center;
}

/* Fin de Footer */
/* Inicio del Main */
main {
  display: flex;
  flex-direction: column;
  background-color: white;
}
main h2 {
  color: #201f1f;
  font-weight: bold;
  margin: 10px;
  transition: background-color;
  animation: backInLeft ;
  animation-duration:1s;
}
main h2:hover {
  transition: ease-in 0.2s;
  opacity: 70%;
  color: #195dba;
}
main section {
  color: #201f1f;
  text-align: center;
  font-weight: 100;
}
main section .sobreNosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
  color: #201f1f;
  font-weight: normal;
  line-height: 30px;
}
main section .sobreNosotros img {
  margin-top: 10px;
}
main .carrousel img {
  width: 1024px;
  border-radius: 10px;
}
main .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
main .banner img {
  margin-top: 20px;
  width: 800px;
  height: 200px;
  border-radius: 10px;
}
main .banner img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
main .banner h2 {
  font-weight: bold;
  text-align: center;
}

.parrafos {
  padding: 15px;
  line-height: 30px;
}
.parrafos h2 {
  font-weight: bold;
  padding: 10px;
}

.col__imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col__imgs img {
  height: 600px;
  margin: 10px;
  border-radius: 15px;
  color: #201f1f;
}
.col__imgs img:hover {
  opacity: 90%;
  background: #201f1f;
}

.col__imgs h3 {
  font-size: larger;
  font-weight:bold;
  line-height: 50px;
  color: #201f1f;
}
.col__imgs h3:hover {
  opacity: 70%;
  color: #195dba;
}
.col__imgs a{
  text-decoration: none;
}
.a1{
  animation:backInLeft 1s ;
}
.a2{
  animation:backInDown 1s;
}
.a3{
  animation:backInRight 1s;
}

/* Fin del Main */
/* Animacion h2 */
.animationh2{
  animation: bounceInRight 1s ;
}
.animationh3{
  animation: backInUp 1s;
}
/* Card */
  .card-img-propio{
    height: 200px;
  }
  .card-img-propio3{
    height: 250px;
  }
  .card-img-propio:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
  }
  .card-img-propio2:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
  }
  .card-img-propio3:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
  }
  .card-text_propio{
    font-size: 17px;
    height: 230px;
  }
  .card-text_propio2{
    height: 160px;
  }
  .card-text_propio4{
    height: 250px;
  }
  .card-title-propio{
    font-weight: bolder;
  }
  .centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .btn-propio{
    background-color: #201f1f;
    border: #201f1f solid 1px;
    color:#E7DFDD;
  }
  .btn-propio:hover{
    color: #114082;
  }
  .card-text_propio3{
    height: 140px;
  }
/* Fin del card */
/* Media queries */
@media only screen and (max-width: 1024px) {
  .banner img {
    width: 600px;
    height: 20px;
  }
  .iconosDeRedes {
    display: flex;
    flex-direction: row;
  }
  .col__imgs img {
    width: 300px;
    height: 400px;
  }
}
@media only screen and (max-width: 830px) {
  header {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header__nav__a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  main .banner img {
    width: 700px;
    height: 200px;
  }

  .sobreNosotros img {
    width: 400px;
    height: 150px;
  }
  .bannerairmax {
    width: 700px;
    height: 200px;
  }
  .col__imgs img {
    width: 100%;
    height: 450px;
    padding: 5px;
  }
  .mapa{
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  header {
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
  }
  main .banner img {
    width: 600px;
    height: 150px;
  }
  .header__nav__aft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .conteinerfooter {
    flex-direction: column;
    align-items: stretch;
  }
  .iconosDeRedesFT{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .iconosDeRedesFT a{
    margin: 20px;
  }
  .iconosDeRedes {
    display: flex;
    flex-direction: row;
  }
  .sobreNosotros img {
    width: 660px;
    height: 200px;
  }
  main .carrousel img {
    width: 600px;
    height: 500px;
  }
  footer {
    justify-content: space-evenly;
  }
  .col__imgs {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .col__imgs img {
    width: 90%;
    height: 300px;
  }
  .col__imgs h3{
    font-size: large;
  }
  .mapa iframe {
    height: 300px;
    width: 500px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 576px) {
  header {
    position: relative;
    height: 170px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .banner img {
    width: 360px;
    height: 120px;
  }
  .sobreNosotros img {
    width: 400px;
    height: 150px;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
  }
  .header__nav__aft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .iconosDeRedes {
    display: flex;
    flex-direction: row;
  }
  .bannerairmax {
    width: 450px;
    height: 150px;
  }
  footer {
    flex-direction: column;
    padding: 5px;
  }
  .iconosDeRedesFT {
    flex-direction: row;
  }
  .conteinerfooter {
    flex-direction: column;
  }
  .col__imgs img {
    width: 600px;
    height: 450px;
  }
  .iconosDeRedesFT a {
    margin: 20px;
    padding: 20px;
  }
}
@media only screen and (max-width: 425px) {
  header {
    height: 350px;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
  }
  .header__nav__aft {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconosDeRedes {
    display: flex;
    flex-direction: row;
  }
  main .carrousel img {
    width: 400px;
    height: 250px;
  }
  main .banner img {
    width: 300px;
    height: 100px;
  }
  .sobreNosotros img {
    width: 400px;
    height: 150px;
  }
  .conteinerfooter {
    flex-direction: column;
  }
  .col__imgs{
    justify-content: center;
    align-items: center;
  }
  .col__imgs img {
    width: 300px;
    height: 440px;
  }
  .col__imgs h3{
    font-size: large;
  }
  .iconosDeRedesFT a {
    margin: 20px;
    padding: 20px;
  }
  .mapa iframe {
    height: 200px;
    width: 300px;
    padding: 10px;
  }
}
@media only screen and (max-width: 375px) {
  header {
    height: 350px;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
  }
  .header__nav__aft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  main .banner img {
    width: 280px;
    height: 100px;
  }
  .sobreNosotros img {
    width: 350px;
    height: 100px;
  }
  .conteinerfooter {
    flex-direction: column;
  }
  .iconosDeRedesFT a {
    margin: 20px;
    padding: 20px;
  }
  .col__imgs{
    justify-content: center;
    align-items: center;
  }
  .col__imgs img {
    width: 300px;
    height: 440px;
  }
  .col__imgs h3{
    font-size: large;
  }
  .mapa iframe {
    height: 200px;
    width: 270px;
    padding: 10px;
  }
}
@media only screen and (max-width: 320px) {
  header {
    height: 350px;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
  }
  .header__nav__a a{
    font-size: small;
  }
  .header__nav__aft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .banner img {
    width: 280px;
    height: 100px;
  }
  .sobreNosotros img {
    width: 320px;
    height: 160px;
  }
  .mapa iframe {
    height: 200px;
    width: 270px;
    padding: 10px;
  }
  .iconosDeRedesFT a {
    margin: 20px;
    padding: 20px;
  }
  .conteinerfooter {
    flex-direction: column;
  }
  .col__imgs{
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .col__imgs img {
    width: 240px;
    height: 340px;
  }
  .col__imgs h3{
    font-size: large;
  }
  .card__title {
    font-size: small;
  }
  .conteinerfooter{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .copy{
    font-size: small;
  }
}

/*# sourceMappingURL=style.css.map */
