@import "./bases/variables";
@import "./componentes/global";

/* Inicio del Main */

$colores: ( 
    bg-color:#ffff
    principal:#195dba
    secundario:#201f1f
    letras: #E7DFDD
);

@mixin tamaño ($width, $height){
    width: $width;
    height: $height;
}

main{
    @extend *;
    display: flex;
    flex-direction: column;
    background-color: map-get($colores , $bg-color);
    h2{
        color: map-get($colores , $secundario);
        font-weight: bold;
        margin: 10px;
        transition: background-color;
        &:hover{
            transform: scale(1.1);
            transition: ease-in 0.2s;
            opacity: 70%;
            color: $color-principal;
            }
    }
    section{
        color: map-get($colores , $secundario);
        text-align: center;
        font-weight: 100;
        .sobreNosotros{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            margin-top: 10px;
            color: map-get($colores , $secundario);
            font-weight:normal;
            line-height: 30px;
            img{
                margin-top: 10px;
            }
            img:hover{
                transform: scale(1.3);
                transition: 0.4s;
            }
        }
    }
    .carrousel img{
        @include tamaño(1024px,0);
        border-radius: 10px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        img{
            margin-top: 20px;
            width: 800px;
            height: 200px;
            border-radius: 10px;
        }
        img:hover{
            transform: scale(1.1);
            transition: 0.4s;
        }
        h2{
            font-weight: bold;
            text-align: center;
        }
    }
}
.parrafos{
    padding: 15px;
    line-height: 30px;
    h2{
        font-weight: bold;
        padding: 10px;
    }
}
.col__imgs {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    img{
        height: 600px;
        margin: 5px;
        border-radius: 15px;
    }
    img:hover{
        opacity: 70%;
    }
    h3{
        font-weight: bold;
        line-height: 50px;
        color: $color-secundario;
    }
    h3:hover{
        opacity: 70%;
        color: map-get($colores , $color-principal);
    }
}
        /* Fin del Main */
/* Media queries */
@media only screen and (max-width:1024px){
    .banner img{
       width: 600px;
       height: 20px;
    }
    .iconosDeRedes{
       display: flex;
       flex-direction: row;
    }
    
    .col__imgs img{
       width: 300px;
       height: 400px;
    }
   }
   @media only screen and (max-width:830px){
       header{
           height: 100px;
           justify-content:space-between;
           align-items: center;
           padding: 10px;
       }
       .logo{
           display: none;
       }
       .header__nav__a{
           display: flex;
           flex-direction: row;
           justify-content: center;
       }
       main .banner img{
           width: 700px;
           height: 200px;
       }
       .sobreNosotros img{
           width: 400px;
           height: 150px;
        }
        .bannerairmax{
           width: 700px;
           height: 200px;
        }
        .col__imgs img{
           width: 100%;
           height: 450px;
           padding: 5px;
        }
   }
   @media only screen and (max-width:768px){
       header{
           justify-content: space-between;
           flex-direction: row;
           flex-wrap: wrap;
       }
       main .banner img{
           width: 500px;
           height: 150px;
       }
       .header__nav{
           display: flex;
           flex-direction: column;
       }
        .iconosDeRedes{
           display: flex;
           flex-direction: row;
        }
        .sobreNosotros img{
           width: 350px;
           height: 150px;
        }
        .bannerairmax{
           width: 500px;
           height: 150px;
        }
        main .carrousel img{
           width: 600px;
           height: 500px;
        }
        footer{
           justify-content: space-evenly;
        }
        .col__imgs{
           flex-direction: row;
           align-items: center;
           justify-content: space-between;
        }
        .col__imgs img{
           width: 90%;
           height: 300px;
        }
        .mapa iframe{
           width: 200px;
        }
   }
   @media only screen and (max-width:576px){
       header{
           position:relative;
           height: 170px;
           flex-direction: row;
           flex-wrap: wrap;
       }
       main .banner img{
           width: 450px;
           height: 150px;
       }
       .header__nav{
           display: flex;
           flex-direction: column;
       }
        .iconosDeRedes{
           display: flex;
           flex-direction: row;
        }
        .bannerairmax{
           width: 450px;
           height: 150px;
        }
        footer{
           flex-direction: column;
           padding: 5px;
        }
        .iconosDeRedesFT{
           flex-direction: row;
        }
        .conteinerfooter{
           flex-direction: column;
        }
        .col__imgs img{
           width: 600px;
           height: 450px;
        }
   }
   @media only screen and (max-width:425px){
       header{
           position:relative;
           height: 200px;
           align-content: space-between;
           justify-content: center;
           flex-direction: row;
       }
       .header__nav__a{
           flex-direction: row;
           flex-wrap: wrap;
       }
       .iconosDeRedes{
           display: flex;
           flex-direction: row;
       }
       main .carrousel img{
           width: 600px;
           height: 250px;
       }
       main .banner img{
           width: 400px;
           height: 150px;
       }
       .bannerairmax{
           width: 400px;
           height: 150px;
        }
        .conteinerfooter{
           flex-direction: column;
        }
        .col__imgs img{
           width: 400px;
           height: 490px;
        }
   }
   @media only screen and (max-width:375px){
       header{
           position:relative;
           height: 200px;
           align-content: space-between;
           justify-content: center;
           flex-direction: row;
       }
       .header__nav__a{
           flex-direction: row;
           flex-wrap: wrap;
       }
       .iconosDeRedes{
       
       }
       main .banner img{
           width: 370px;
           height: 150px;
       }
       .bannerairmax{
           width: 370px;
           height: 150px;
        }
        .sobreNosotros img{
           width: 320px;
           height: 150px;
        }
        .card img{
           height: 200px;
           width: 200px;
        }
        .card__title{
           font-size:small;
        }
        .conteinerfooter{
           flex-direction: column;
        }
        .col__imgs img{
           width: 350px;
           height: 480px;
        }
   }
   @media only screen and (max-width:320px){
       header{
           position:relative;
           height: 200px;        
           align-content: space-between;
           justify-content: center;
           flex-direction: row;
       }
       .header__nav__a{
           flex-direction: row;
           flex-wrap: wrap;
       }
       .iconosDeRedes{
           
       }
       main .banner img{
           width: 280px;
           height: 100px;
       }
       .bannerairmax{
           width: 280px;
           height: 100px;
        }
        .sobreNosotros img{
           width: 280px;
           height: 120px;
        }
        .mapa iframe{
           height: 200px;
           width: 270px;
        }
        .iconosDeRedesFT a{
           margin: 20px;
        }
        .conteinerfooter{
           flex-direction: column;
        }
        .col__imgs img{
           width: 300px;
           height: 450px;
        }
        .card img{
           height: 200px;
           width: 200px;
        }
        .card__title{
           font-size:small;
        }
   }
   
